@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.offcanvas {
  position: fixed;
  top: 7rem; /* Adjust this value based on the height of your navigation menu */
  right: 0;
  width: 300px;
  max-height: calc(100% - 4rem - 1rem); /* Adjust this value based on the height of your navigation menu and add margin */
  background-color: #a7bdb0; /* Match the background color of the basket drawer */
  z-index: 1050; /* Ensure it is in front of other items except for cute-alert toasts */
  overflow-y: auto;
  overflow-x: hidden; /* Remove horizontal scrollbar */
  transform: translateX(100%); /* Start off-screen */
  animation: slideIn 0.3s forwards; /* Apply the slide-in animation */
  border-top-left-radius: 8px; /* Round the top-left corner */
  border-bottom-left-radius: 8px; /* Round the bottom-left corner */
  margin: 0.5rem 0; /* Add a small margin for a cleaner look */
}

.offcanvas.hide {
  animation: slideOut 0.3s forwards; /* Apply the slide-out animation */
}

.offcanvas-body {
  padding: 1rem;
  height: auto; /* Set height to auto to fit content */
  background-color: #a7bdb0;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

/* Profile drawer styles */
.profile-drawer .offcanvas-header {
  background-color: #a7bdb0;
}

.profile-drawer .offcanvas-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.profile-drawer .offcanvas-body .btn {
  width: 100%;
  margin-bottom: 10px; /* Ensure buttons are not on the same height */
  text-transform: uppercase; /* Uppercase letters */
  border-radius: 4px; /* Small round corners */
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-drawer .btn-primary {
  background-color: #047857; /* Set button background color */
  color: white; /* Set button font color */
  width: 90%;
}

.profile-drawer .btn-primary:hover {
  background-color: white; /* Set hover background color */
  color: #047857; /* Set hover font color */
  border: 1px solid #047857; /* Add border on hover */
}

.profile-drawer .btn-secondary {
  background-color: #6c757d; /* Set button background color */
  color: white; /* Set button font color */
  width: 90%;
}

.profile-drawer .btn-secondary:hover {
  background-color: white; /* Set hover background color */
  color: #6c757d; /* Set hover font color */
  border: 1px solid #6c757d; /* Add border on hover */
}

.profile-drawer .btn-danger {
  background-color: #dc3545; /* Set button background color */
  color: white; /* Set button font color */
  width: 90%;
}

.profile-drawer .btn-danger:hover {
  background-color: white; /* Set hover background color */
  color: #dc3545; /* Set hover font color */
  border: 1px solid #dc3545; /* Add border on hover */
}

.profile-drawer .btn-success {
  background-color: #28a745; /* Set button background color */
  color: white; /* Set button font color */
  width: 90%;
}

.profile-drawer .btn-success:hover {
  background-color: white; /* Set hover background color */
  color: #28a745; /* Set hover font color */
  border: 1px solid #28a745; /* Add border on hover */
}

.profile-drawer .btn-settings {
  background-color: #fd7e14; /* Set button background color */
  color: white; /* Set button font color */
}

.profile-drawer .btn-settings:hover {
  background-color: white; /* Set hover background color */
  color: #fd7e14; /* Set hover font color */
  border: 1px solid #fd7e14; /* Add border on hover */
}